<p class="espacio"></p>
<ion-card *ngFor="let tarjeta of tarjetas">
  <ion-card-header>
    <ion-card-title>{{tarjeta.numero}}</ion-card-title>
    <ion-card-subtitle>{{tarjeta.nombre}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
   <div class="vigencia">
    <span>Vigencia:</span>
    <strong>{{tarjeta.vigenciaInicio}}/{{tarjeta.vigenciaFin}}</strong>
   </div>

   <div class="CCV">
    <span>CCV</span>
    <strong>***</strong>
   </div>

   <div>
    <img src="../../assets/Visa_Inc._logo 1.png" alt="">
   </div>
  </ion-card-content>
</ion-card>
<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button (click)="navegarAAgregarTarjetas()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>



