<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      {{title}}
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="hazmeClic()">Hazme clic!</ion-button>
    <img [src]="imgUrl">
    <app-ejercicios></app-ejercicios>
    <p>Inserta el nombre del alumno en el campo: </p>
    <ion-input [(ngModel)]="nombreAlumno"></ion-input>
    <ion-label>El alumno se llama: <strong>{{nombreAlumno}}</strong></ion-label>

  </div>
</ion-content>
